@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200;300;400;600;700;800&display=swap");

body, ul, li, p {
    margin: 5px;
    padding: 0px;
    list-style: none;
    font-family: 'Nunito Sans', sans-serif;
   
}
a {
    text-decoration: none;
    color:rgb(255, 255, 255)
}

.titulo{
    font-size: 35px;
    font-weight: 500;
    background-color: white;
    text-decoration: none;
    color: #333333;
    padding-top: 30px;
    padding-left: 20px;
    padding-bottom: 10px;
  }

header{
    max-width: 1250px;
    display: flex;
    background: rgb(192, 31, 31);
    padding: 10px;
    align-items: center;
    justify-content: space-between;
}

.corpo{
    align-items: center;
    justify-content: space-between;
}

hr{
  height: 0, 5px;
  border-color: #333333;
  background-color: #333333;
  display: flex;
  width: 1100px;
  color: #333333;
}

.menu{
  display: flex;
}

.menu a{
  color: black;
  text-decoration: none;
  font-weight: bolder;
}
  
.header-2{
  max-width: 1250px;
  background: rgb(255, 196, 0);
}

.container{
  background-color: white; 
  flex-wrap: wrap;
  max-width: 1250px;
  margin: 0 auto;
}

img{
  width: 300px;
  display: block;
  border-radius: 50px;
}
.flex{
  display: flex;
  flex-wrap: wrap;
  max-width: 1000px;
  margin: 0 auto;
}
 
.flex>div{
  flex: 50px;
  margin: 10px 10px;
  border-radius: 50px;
}
 
body{
  background-image: url(img/fundo.jpg);
  padding: 100%;
  font-family: "Montserrat";
  margin: 0;
  padding: 0;
  width: 100%
}
  
.coluna{
  column-count: 2;
}

.coluna1 {
  column-count: 3;
  column-gap: 5;
  max-width: 700px;
  margin: 50px;
}

.coluna2{
  max-width: 500px;
  margin: 30px;
  column-count: 1;
  column-gap: 0; 
}

.conteudo-coluna-2{
  display: flex;
  max-width: 100%;
  margin: 10px;
  column-count: 1;
  column-gap: 0;
}

.p{
  margin-right: 5px;
}

.rodape{
  max-width: 1240px;
  font-size: 10px;
  background-color: #333333;
  padding: 5px;
  color: white;
  margin: 0 auto;
}



.coluna{
  display: inline-block;
}

.linha{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.titulo-3 {
  font-size: 20px;
  margin-bottom: 5px;
}

.contato {
margin-top: 30px;
align-items: start;
}

.contato form{
margin-top: 20px;
}

.contato label{
font-size: 13px;
}

.contato button{
background-color: gray;
border: 0;
padding: 5px 10px;
border-radius: 2px;
color: white;
} 
 
